.container {
    background-color: #ff9019;
    background: -webkit-linear-gradient(#212529 25%, #ff9019);
                background: -o-linear-gradient(#212529 25%, #ff9019);
                background: linear-gradient(#212529 25%, #ff9019);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.loginFormContainer {
    background: rgba(0,0,0,0.7);
    box-shadow: 0 0 2rem #000;
    border-radius: 0.5rem;
    max-width: 1200px;
}