.videoDescription {
    max-width: 1063px;
}
.uploadDate {
    margin-bottom: 0;
}
.favBtn {
    background: none;
    border: none;
    color: var(--gray-bg-color);
    font-size: 1.5rem;
    padding: 0;
}
.favBtn:not(.isFavorite[title~="Remove"]):hover {
    animation: shake 0.6s infinite;
}
.isFavorite[title~="Remove"] {
    color: #ff9019;
    background: linear-gradient(to left top, #ff3f34, #ff9019 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.accessibleName {
    color: #aa0000;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}
/* hides button's descriptive text from the screen but not from Assistive Technologies */
.forScreenReader {
    border: 0;
    /* clip: rect(0, 0, 0, 0); */
    clip-path: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* placing this keyframe in global.css did not work */
@keyframes shake {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    25% {
        transform : translate(1px, 1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, -1px) rotate(-1deg);
    }
    75% {
        transform: translate(2px, -1px) rotate(2deg);
    }
    100% {
        transform: translate(-1px, 0px) rotate(-1deg);
    }
}