.videoWrapper {
    max-width: 1063px;
}
.indicatorButton {
    border: 5px solid #fff;
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}
.latestUploadTitle {
    text-shadow: 2px 2px 10px var(--dark-navbar-color);
}
.nextButton, .prevButton {
    display: none;
    background-color: var(--dark-navbar-color);
    border: 3px solid #fff;
    border-radius: 0.625rem;
    width: auto;
    padding: 0.75rem 1.5rem;
    top: auto;
    bottom: 0;
}
.prevButton:hover,
.prevButton:focus {
    box-shadow: 0 0 5px #fff;
}
.nextButton:hover,
.nextButton:focus {
  box-shadow: 0 0 5px #fff;
}
.prevIcon, .nextIcon {
    background-image: none;
    width: auto;
    height: auto;
}
.fontAwesome {
    display: block;
    font-size: 1.5rem;
}


/* Media Queries */

@media (min-width: 576px) {
    .prevButton, .nextButton {
        display: flex;
    }
}
@media (min-width: 767px) {
    .prevButton, .nextButton {
        margin: 0 3rem;
    }
}
@media (min-width: 1400px) {
    .prevButton, .nextButton {
        bottom: 50%;
    }
}