.registerSection {
    margin-top: 4rem;
    margin-bottom: 2rem;
    z-index: 10;
}
.registerContentWrap {
    box-shadow: 0 0 2rem #000;
    max-width: 1200px;
}
.benefits {
    border: 5px solid #000;
    --s: 37px; /* control the size */ 
    --c:#0000,#1e272e .5deg 119.5deg,#0000 120deg;
    --g1:conic-gradient(from  60deg at 56.25% calc(425%/6),var(--c));
    --g2:conic-gradient(from 180deg at 43.75% calc(425%/6),var(--c));
    --g3:conic-gradient(from -60deg at 50%   calc(175%/12),var(--c));
    background:
      var(--g1),var(--g1) var(--s) calc(1.73*var(--s)),
      var(--g2),var(--g2) var(--s) calc(1.73*var(--s)),
      var(--g3) var(--s) 0,var(--g3) 0 calc(1.73*var(--s)) 
      #000;
    background-size: calc(2*var(--s)) calc(3.46*var(--s));
}
.benefits h1,
.benefits p {
    color: var(--light-gray-bg-color);
    text-shadow: 8px 8px 10px #000;
}
.benefits p i {
    color: var(--main-bg-color);
    background: linear-gradient(to left top, #ff3f34, #ff9019 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    margin-right: 1rem;
    text-shadow: 0 0 30px var(--main-bg-color);
}
.registerFormWrap {
    background: rgba(0,0,0,0.7);
}

/*
================================
  MEDIA QUERIES
================================
*/
@media (min-width: 767px) {
    .regsiterSection {
        margin-top: 5rem;
    }
}